{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('admin')}}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('admin')}}">product <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('brands')}}">brand</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('categories')}}">catgory</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{url_for('addproduct')}}">Add product</a>
                <a class="dropdown-item" href="{{url_for('addbrand')}}">add brand</a>
                <a class="dropdown-item" href="{{url_for('addcat')}}">add category</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
</div>

<!--==========END NAVBAR ==============-->

<div class="container">
    {% include '_messages.html' %}
    <table class="table tbale-sm">
        <thead>
            <th>Sr</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
         {% if brands %}
          {% for brand in brands %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{ brand.name }}</td>
            <td><a href="{{url_for('updatebrand', id=brand.id)}}" class="btn btn-sm btn-info">Edit</a></td>
            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{brand.id}}">
              Delete
            </button></td>
          </tr>


<!--============= MODEL ===================-->

<div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ brand.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Are you Sure that you want to delete this brand ({{ brand.name }}) </p>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('deletebrand',id=brand.id)}}" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
<!--==============MODEL ===================-->

          {% endfor %}
          {% else %}
          {% for category in categories %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{ category.name }}</td>
            <td> <a href="{{url_for('updatecat', id=category.id)}}" class="btn btn-sm btn-info">Edit</a></td>
            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{category.id}}">
              Delete
            </button></td>
          </tr>


<!--============= MODEL ===================-->
      <div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{category.name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="text-danger">Are you Sure that you want to delete this Category ({{ category.name }}) </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{{url_for('deletecat',id=category.id)}}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
<!--==============MODEL ===================-->

          {% endfor %}
          {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}